body {
  background-image: url(images/sun.jpg);
}
ul {
  padding-left: 0;
}
.container {
  background: linear-gradient(to bottom, #d1f0ee, #60afb8);
  max-width: 900px;
  max-height: 520px;
  margin: 30px auto;
  padding: 25px 50px;
  border-radius: 15px;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
}
.temp {
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  margin-top: 0px;
}
.current-weather {
  height: 60px;
  font-size: 25px;
  font-weight: bold;
}
.following-days {
  text-align: center;
  background: #0f0f10;
  color: aliceblue;
  border-radius: 15px;
  max-height: 300px;
}
.new-day {
  margin-top: 15px;
  margin-bottom: 10px;
}
.min-temperature {
  opacity: 0.6;
}
.emo,
.location-icon {
  font-size: 35px;
  transition: all 200ms ease-in-out;
}
.weather-emo {
  margin-top: -30px;
  margin-left: -10px;
}

.location-icon:hover {
  color: #f8f9fa;
  cursor: pointer;
}
.details {
  font-size: 18px;
  list-style: none;
  line-height: 45px;
}
.current-weather .active {
  cursor: default;
}
.foot {
  position: relative;
  top: 15px;
  /* text-align: center; */
  font-family: monospace;
}
