body {
  font-family: "Crimson Text variant0", Tofu;
  background: antiquewhite;
}
h1 {
  font-size: 55px;
}
ul {
  padding-left: 0;
}
.tint {
  opacity: 0.5;
}
.data {
  font-size: 18px;
  font-style: italic;
  color: antiquewhite;
}
.weather-app {
  background: linear-gradient(to bottom, #d1f0ee, #168b9a);
  max-width: 800px;
  max-height: 480px;
  margin: 30px auto;
  padding: 25px 50px;
  border-radius: 15px;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
}
.temp {
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  margin-top: 0px;
}
.current-weather {
  height: 60px;
  font-size: 25px;
  font-weight: bold;
}

.following-days {
  text-align: center;
  background: #60afb8;
  color: antiquewhite;
  border-radius: 15px;
  max-height: 300px;
}
.new-day {
  margin-top: 15px;
  margin-bottom: 10px;
}
.min-temperature {
  opacity: 0.6;
}
.following-icons {
  width: 55px;
}
.location-icon {
  font-size: 35px;
  transition: all 200ms ease-in-out;
}
.weather-emo {
  margin-top: -30px;
  margin-left: -10px;
}

.location-icon:hover {
  color: #f8f9fa;
  cursor: pointer;
}
.details {
  font-size: 20px;
  list-style: none;
  line-height: 35px;
}
.current-weather .active {
  cursor: default;
}
.foot {
  position: relative;
  top: 40px;
  font-family: monospace;
}
.foot a {
  color: #168b9a;
}
